.input {
  background-color rgba(129, 188, 255, 0.3)
  border-color #5aa8ff
  border-radius 20px
  height 160px
  width 320px
  font-size 140px
  text-align center
  outline: none;
  margin 16px
  box-shadow 4px 4px 4px 0 #5aa8ff
}