.btn {
  padding 8px
  margin 8px
  border-radius 8px
  box-shadow 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
  background-color rgba(99, 166, 255, 0.63)
  border-color rgba(44, 35, 255, 0.44)
  transition all ease-in-out 300ms
  font-size 60px
  outline: none;
  &:hover {
    background-color rgba(99, 166, 255, 0.7)
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  &:active {
    background-color rgba(99, 166, 255, 0.9)
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 1);
  }
}