.monitor {
  display grid
  justify-items center
}

.mainText {
  display block
  font-size 28px
  padding 4px
  background-color #a0caff
  border-radius 8px
  box-shadow 4px 4px 4px 0 #5aa8ff
  height 64px
}

.leftAttempts {
  margin 8px
  padding 4px
  font-size 28px
  background-color #8cbdff
  border-radius 8px
  box-shadow 4px 4px 4px 0 #5aa8ff
}

.round {
  padding 12px
  font-size 28px
}