.window {
  background-color rgba(190, 190, 190, 0.21)
  border-radius 10px
  width 600px
  margin-top: 80px
  padding 40px
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);

  display grid
  grid-column 1
  justify-items: center;
}